.Leaderboard{
  position: absolute;
  left: 4%;
  bottom: 5%;
  display: table;
  background-color: #ff4a43;
  width: 44%;
  height: 380px;
}

.Leaderboard_header{
  text-align:center;
  vertical-align: middle;
  line-height: 70px;
  color: white;
    width: 100%;
    height: 100px;
  font-size: 8px;
}
.Leaderboard_index {
  border-bottom: 1px solid black;
  white-space: nowrap;
  text-align: center;

}
.Leaderboard_index ul{
  list-style: none;
}
.Leaderboard_index li{
display: inline;
align-items: center;
margin: 0px 30px;
}

.Leaderboard_data{

}
.Leaderboard_data ul{
list-style: none;
}
.Leaderboard_data li{
display: inline;
margin: 0px 45px;
}
