.PlayButton {
  position: absolute;
  left: 4%;
  top: 15%;
  display: table;
  background-color: #373737;
  height: 250px;
  width: 21%;
  color: #fff;
  display: table;
}
.PlayButton_text{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 250px;
  display: table-cell;
   vertical-align: top;
}

.PlayButton_background{
  position: absolute;
  bottom: 0px;
  right: -15px;
  width: 200px;
  height: 200px;

  background-image: url(../assets/pb-normal.png);
  background-size: cover;
}

.PlayButton:hover .PlayButton_background {
  background-image: url(../assets/pb-hover.png);
  right: 5px;
}